{{ define "main" }}
<div class="divider divider--bottom-md"></div>
<section class="container">
    <h3 class="not-visible">The Blog</h3>
    <div class="row">
        {{ $blogPosts := where (where .Site.AllPages "Kind" "page") "Type" "blog" }}
        {{ $postsInLocale := where $blogPosts "Lang" .Site.Params.crosspost }}
        {{ $pag := .Paginate $postsInLocale }}
        {{ range $pag.Pages }}
            {{ $.Scratch.Set "page" . }}
            {{ if ne $.Site.Language.Lang .Site.Params.crosspost }}
                {{ .Scratch.Set "langHint" true}}
            {{ end }}
            {{ range .Translations }}
                {{ if eq .Lang $.Site.Language.Lang }}
                    {{ $.Scratch.Set "page" . }}
                    {{ .Scratch.Set "langHint" false}}
                {{ end }}
            {{ end }}
            {{ with $.Scratch.Get "page" }}
                <div class="col-sm-12 post-wide">
                    <article class="post post--preview">
                        <div class="image-container image-container--empty">
                            <a href="{{ .Permalink }}">
                                <img alt="" src="{{ .Params.image }}"/>
                            </a>
                            <p class="post__date post__date--rect">
                                {{ .Date.Format .Site.Params.dateFormat }}
                            </p>
                        </div>
                        <a class="post--preview__link" href="{{ .Permalink }}">
                            <h2 class="post-heading">{{ .Title }}{{ if (.Scratch.Get "langHint")}} ({{ .Lang }}){{ end }}</h2>
                            <ul class="tags post__tags">
                                <li class="tags__item tags__item--user">
                                    {{ partial "author.html" . }}
                                </li>
                                <li class="tags__item tags__item--comment">
                                    <a href="{{ .Permalink }}#disqus_thread" class="tags__link" data-disqus-identifier="{{ .Params.disqus_identifier }}">Comments</a>
                                </li>
                            </ul>
                        </a>
                        <div class="content">
                            {{ if .Truncated }}
                                {{ .Summary }}
                                <a href="{{ .Permalink }}" class="post-read-more">... [ {{ i18n "readMore" }} ]</a>
                            {{ else }}
                                {{ .Content }}
                            {{ end }}
                        </div>
                    </article>
                <!-- end col -->
                </div>
            {{ end }}
        {{ end }}
    </div>

    <div class="custom_pagination">
    {{ template "_internal/pagination.html" . }}
    </div>

</section>

<script id="dsq-count-scr" src="//{{ .Site.DisqusShortname}}.disqus.com/count.js" async></script>
{{ end }}
