{{ define "main" }}

<section class="container">
    <h2 class="block-title" id="medias">Recalbox Partners</h2>

    <div class="row">
        <a href="https://restream.io/" target="_blank"><img src="/images/medias/restream.png" width="142"></a>
        <br><br>{{ i18n "partner_restream" | safeHTML }}<hr>
        <a href="https://www.kubii.fr/" target="_blank"><img src="/images/medias/kubii.png" width="142"></a>
        <br><br>{{ i18n "partner_kubii" }}<hr>
        <a href="http://retroflag.com/" target="_blank"><img src="/images/medias/retroflag.png" width="142"></a>
        <br><br>{{ i18n "partner_retroflag" }}<hr>
        <a href="https://www.screenscraper.fr/" target="_blank"><img src="/images/medias/screenscraper.png" width="142"></a>
        <br><br>{{ i18n "partner_screenscraper" | safeHTML }}<hr>
        <a href="https://www.rapid-flyer.com/" target="_blank"><img src="/images/medias/rapidflyer.png" width="142"></a>
        <br><br>{{ i18n "partner_rapidflyer" | safeHTML }}<hr>
    </div>
</section>
<script src='{{ "/allec/external/magnific-popup/jquery.magnific-popup.min.js" | relURL }}'></script>
<script>
    $(document).ready(function () {

        $('.gallery-wrapper').magnificPopup({
            delegate: 'a.gallery-item__link',
            type: 'image',
            tLoading: 'Loading image #%curr%...',
            mainClass: 'mfp-img-mobile',
            gallery: {
                enabled: true,
                navigateByImgClick: true,
                preload: [0, 1] // Will preload 0 - before current, and 1 after the current image
            },
            image: {
                tError: '<a href="%url%">The image #%curr%</a> could not be loaded.'
            }
        });

        $('.youtube-wrapper').magnificPopup({
            delegate: 'a',

            disableOn: 700,
            type: 'iframe',
            mainClass: 'mfp-fade',
            removalDelay: 160,
            preloader: false,

            fixedContentPos: false
        });
    });
</script>
{{ end }}
